/* CSS Document */

/*
html, body {
	margin:0;
	padding:0;
}
body{
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	background-color: #eee;
	color: #444;
	font-size: 75%;
}
a{
	color: #27D;
	text-decoration: none;
}
a:focus, a:hover, a:active {
	text-decoration: underline;
}
p, li {
	line-height: 1.8em;
}
h1, h2 {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	margin: 0 0 10px 0;
	letter-spacing:-1px;
}
h1 {
	padding: 0;
	font-size: 3em;
	color: #333;
}
h2 {
	padding-top: 10px;
	font-size:2em;
}
pre {
	font-size: 1.2em;
	line-height: 1.2em;
	overflow-x: auto;
}
div#page {
	width: 900px;
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border-width: medium 1px 1px;
}
div#container {
	padding: 20px;
}
div#ads {
	clear: both;
	padding: 12px 0 12px 66px;
}
div#footer {
	clear: both;
	color: #777;
	margin: 0 auto;
	padding: 20px 0 40px;
	text-align: center;
}
*/

div.slideshow span.image-wrapper { display: block; position: absolute; }

div.loader { width:700px; height:500px; position: absolute; background:#fff; }

a.advance-link img { border:0px;}

.bottom_pagination { display:none; }

#gallery { width:700px; }

.slideshow-container {padding:0px; margin:0px; }
#slideshow {padding:0px; margin:0px; border:1px solid #000; }

.navigation { width:auto; margin:0px; padding:0px; float:left; }

#thumbs { margin:-31px 0px 0px 659px; position:absolute; }
#thumbs ul { padding:0px; margin:0px 0px 0px 0px; list-style:none; }
#thumbs li { width:9px; height:10px; padding:0px; margin:0px 7px 0px 0px; list-style-type:none; background:red none; float:left; }
#thumbs li a { width:9px; height:10px; font-size:.00001em; line-height:100%; color:#c4c5cf; background:#c4c5cf; display:block; }
#thumbs li a:hover { color:#6c6e87; background:#6c6e87; }
#thumbs li.selected a { color:#6c6e87; background:#6c6e87; }

* html #thumbs { margin:-27px 0px 0px 659px; }
#thumbs { *margin:-27px 0px 0px 659px; }