@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Montserrat);
ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  line-height: 1.5rem;
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

.float-right {
  float: right; }

html {
  min-height: 100%;
  font-size: 16; }

body {
  font-family: "Roboto";
  color: #323232;
  width: 80%;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #323232; }
  a:hover {
    text-decoration: underline; }

header, footer, h1, h2, h3, #tagline {
  font-family: "Montserrat";
  color: #7d0000; }

h1, h2, h3 {
  margin: 0 0 -0.25em -0.25em; }

nav {
  position: relative;
  text-transform: uppercase;
  margin: 0 auto;
  border-bottom: 1px solid #7d0000;
  margin-bottom: 3.1em; }
  nav #logo {
    position: relative;
    top: 2.1em; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    right: 0;
    bottom: 0; }
  nav li {
    float: left;
    cursor: pointer;
    vertical-align: middle;
    padding: 0.5em;
    margin-left: 0.5em;
    transition: 0.3s; }
    nav li a {
      color: #7d0000;
      transition: 0.3s; }
    nav li:hover {
      background-color: #7d0000; }
      nav li:hover a {
        color: white;
        text-decoration: none; }

footer {
  margin-top: 1vw; }
  footer #tagline {
    display: flex;
    justify-content: space-between; }
    footer #tagline span {
      text-transform: uppercase; }
  footer #footer {
    font-size: 12px;
    background-color: #7d0000;
    color: rgba(255, 255, 255, 0.6);
    text-align: right;
    min-height: 3rem; }
    footer #footer p {
      line-height: 3rem;
      margin-right: 1rem; }

#container {
  position: relative;
  margin: 0 1em;
  height: 100%; }
  #container a {
    border-bottom: 1px dotted #7d0000;
    transition: 0.3s; }
    #container a:hover {
      color: #7d0000;
      background-color: #ffe3e3; }

.slide {
  width: 100%; }

#splash-image {
  position: relative;
  min-height: 33vw; }

@keyframes hideAdd {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.slideImg {
  position: absolute;
  width: 100%;
  z-index: 1; }

.slideImg.ng-hide {
  display: block !important;
  opacity: 0;
  z-index: 0; }

.slideImg.ng-hide-add {
  z-index: 20;
  animation: 1s hideAdd; }

.img-gallery-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between; }
  .img-gallery-flex .img-gallery-container {
    position: relative;
    width: 23%;
    height: 10vw;
    border: 1px solid #b4b4b4;
    margin: 0.5vw 0;
    overflow: hidden; }
    .img-gallery-flex .img-gallery-container img {
      width: 100%;
      max-height: 100%;
      margin: auto;
      opacity: 1;
      transition: opacity 0.5s; }
      .img-gallery-flex .img-gallery-container img:hover {
        cursor: pointer; }
    .img-gallery-flex .img-gallery-container .img-gallery-modal {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: rgba(125, 0, 0, 0.8);
      z-index: 50;
      overflow: none; }
      .img-gallery-flex .img-gallery-container .img-gallery-modal img {
        position: absolute;
        left: 10vw;
        top: 15vh;
        width: 80vw;
        margin: auto; }
    .img-gallery-flex .img-gallery-container .projectInfo {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(125, 0, 0, 0.8);
      color: white;
      opacity: 0;
      transition: opacity 0.5s;
      text-align: center; }
      .img-gallery-flex .img-gallery-container .projectInfo:hover {
        cursor: pointer;
        opacity: 1; }
      .img-gallery-flex .img-gallery-container .projectInfo .img-gallery-clientname {
        font-size: 1.25rem;
        weight: bold; }

/*# sourceMappingURL=default-sass.css.map */
