@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Montserrat);
$header-font: 'Montserrat';
$default-font: 'Roboto';
$font-size: 16;
$drl-red: rgba(125,0,0,1);
$default-text-color: rgba(50,50,50,1);
$logo-offset: 2.1em; //nudges the logo down a bit

// Clears

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

<<<<<<< HEAD
:link, :visited, {
=======
:link, :link, :visited, :hover {
>>>>>>> 24aa6974de1b9d586c43e4c7dbd7eaba3a1f67f1
  text-decoration: none;
  color: $default-text-color;
}


// ### Globals ###

html {
  min-height: 100%;
  font-size: $font-size;
}

body {
  font-family: $default-font;
  color: $default-text-color;
  width: 80%;
  margin: 0 auto;
}

<<<<<<< HEAD
header, footer, h1, h2, h3, #tagline {
=======
header, footer, h1, h2, h3 {
>>>>>>> 24aa6974de1b9d586c43e4c7dbd7eaba3a1f67f1
  font-family: $header-font;
  color: $drl-red;
}

h1, h2, h3 {
  margin: 0 0 -0.25em -0.25em;
}



// ### Header ###

nav {
  position: relative;
  text-transform: uppercase;
  margin: 0 auto;
  border-bottom:1px solid $drl-red;
  margin-bottom: $logo-offset+1em;

  #logo {
    position: relative;
    top: $logo-offset;
  }

  ul {
    margin: 0; padding: 0; list-style-type: none; /* reset default */
    position: absolute;
    right: 0; bottom: 0;
  }

  li {
    float: left;
    display: inline-block;
    vertical-align: middle;
    padding: 0.5em;
    margin-left: 0.5em;
    background-color: rgba(255,255,255,0.5);
    color: $drl-red;
    transition: 0.3s;
    &:hover {
      color: white;
      background-color: $drl-red;
      cursor: pointer;
    }
  }
}


<<<<<<< HEAD
#tagline {
  display: flex;
  justify-content: space-between;
  span {
    font-size: 1.65vw;
    text-transform: uppercase;
  }
}

=======
>>>>>>> 24aa6974de1b9d586c43e4c7dbd7eaba3a1f67f1

// ### Footer ###

footer {
<<<<<<< HEAD
  font-size: ($font-size)-4px;
=======
  font-size: ($font-size)-4;
>>>>>>> 24aa6974de1b9d586c43e4c7dbd7eaba3a1f67f1
  background-color: $drl-red;
  color: rgba(255,255,255,0.6);
  text-align: right;
  min-height: 5em;
  p {
    line-height: 5em;
    margin-right: 1em;
  }
}


// ### Main ###

#container {
  margin: 0 1em;
  a {
    border-bottom: 1px dotted $drl-red;
    transition: 0.3s;
    &:hover {
      color: $drl-red;
      background-color: lighten($drl-red, 70%);
    }
  }
}
<<<<<<< HEAD

.slide {
  width: 100%;
}
=======
>>>>>>> 24aa6974de1b9d586c43e4c7dbd7eaba3a1f67f1
